@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono');


:root{
    --primary-color: bisque;
    --second-color: rgba(228, 171, 171, 0.63);
    --tertiary-color:gainsboro;
}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: Lato, sans-serif;

}

#container{
    height: 500px;
    width: 360px;
    margin: 100px auto;
    background-color: rgba(247, 242, 242, 0.788);
    box-shadow: 10px 10px var(--second-color);
    border-radius: 20px;
  }

.title{
    background: rgb(207, 198, 186);
    color: rgb(78, 75, 75);
    padding: 20px ;
    text-transform: uppercase ;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    text-align: center;

}

.tipsForm{
    padding-left: 30px;
    padding-right: 30px;
}

.formInput{
    background: white;
    width: 130px;
    padding: 5px 5px 8px 8px;
/*cima - direita - baixo - esquerda*/
    
}
/*focus é parecido com active, muda o estado do objeto ao ser clicado.*/
.formInput:focus{
    border: 3px solid var(--primary-color);
    outline: none;
}

.formSelect{
    width: 180px;    
}

/*focus ou active mudam o estado do objeto*/
.formSelect:active{
    border: 3px solid var(--primary-color);
    outline: none;
}

.formaSubimit{
    text-transform: uppercase; /*text-transforme: upercase o estilo do texto, todo maiusculo ou minusculo ...*/
    font-weight: bold;  /*muda largura da fonte*/
    display: block; 
    margin: 25px auto; /*inseri margens AUTO todos os lado*/
    background: pink; 
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    color: white;
    
}

.formaSubimit:focus{
    border: 3px solid var(--primary-color);
    outline: none;
}

#totalTip{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}